@model MusicManager.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Block";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Разблокировать пользователя?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
    
    <form asp-action="UnBlock">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="unblock" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>